.app-container{
    display: flex;
    min-height: 100vh;
}
.main-content {
  margin-left: var(--sidebar-width);
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.main-content button {
  align-self: flex-end;
  background-color: var(--error-color);
  color: white;
  border: none;
padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1rem;
}
