:root{
    --primary-color: #4a90e2;
    --secondary-color: #2c3e50;
    --acent-color: #27ae60;
    --bg-color: #f4f7f6;
    --white: #ffffff;
    --text-color:#333333;
    --border-radius: 8px;
    --shadow: 0 4px 6px rgba(0,0,0,0.1);
    --error-color: #e74c3c;
    --sidebar-width: 250px;
}

/* Laouyt basico para todas f4f7f6*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
}


aside{
    width: var(--sidebar-width);
    background-color: var(--primary-color);
     columns: var(--white);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
}

aside h2{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    letter-spacing: 1px;
}

aside nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

aside nav a{
    color: var(--white);
    text-decoration: none;
    padding: 0.8rem 1rem;
    border-radius: 8px;
    transition: background 0.3s;
}

aside nav a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Conteúdo Principal */



/*--  Componentes Comuns --*/

/*Inpust*/

input{
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #996a6a;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

input:focus{
    border-color: var(--primary-color);
}

/*Botões*/

button{
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: var(--primary-color);
    color: black;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.2s;
}

button:hover{
    opacity: 0.9;
}
button:active{
    transform: scale(0.98);
}
button:disabled{
    background-color: #816d6d;
    cursor: not-allowed;
}

/*--- Footer ---*/

.footer {
  background-color: #333;
  color: white;
  padding: 1.5rem 0;
  margin-top: auto;
  width: 100%;
}
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
.footer-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}
.footer-links a {
  color: #ccc;
  text-decoration: none;
  font-size: 0.9rem;
}
.footer-links a:hover {
  color: white;
}
